.not-found {
    text-align: center;
    background-color:  #667eea;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    margin: 30px;
    border: none;
    border-radius: 30px;
}

.subtext {
    padding-bottom: 30px;
}