.square {
  background: #fff;
  border: 5px solid #667eea;
  font-size: 50px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

.X {
  color: #eb9234;
}
.O {
  color: #e534eb;
}